/.idea/
/cache/
/.sessions.json
/.throttle.json
/phpdoc.phar
/.buildpath
/.project
/public/assets/submissions/*.jpg
/public/assets/submissions/*.png
/public/assets/submissions/*.bmp
/public/assets/submissions/*.gif
/public/assets/thumbs/*.jpg
/vendor/*
