{% extends Views/_rubrics.html %}
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{% yield title %}</title>
		<link rel="stylesheet" href="/assets/screen.css" media="screen,projection,tv">
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
	</head>
	<body>
		<div class="page-container">
			<header id="top-bar">
				<h1>SketchSpace</h1>
				<nav id="main-menu">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/register">Join us</a></li>
						<li>Help</li>
						<li>Contact</li>
					</ul>
				</nav>
				{% if (!$hide_login_form): %}
				{% if (isset($logged_in_user)): %}
				<ul id="user-brief" class="horizontal-menu">
					<li>
						Welcome,
						<a href="/user/{{{ $logged_in_user->getUsername() }}}">
							<b>{{{ $logged_in_user->getUsername() }}}</b>
						</a>
					</li>
					<li>
						Edit my profile
					</li>
					<li>
						<a href="/submit">Add a submission</a>
					</li>
					<li>
						User preferences
					</li>
					<li>
						<a href="/logout">Log out</a>
					</li>
				</ul>
				{% else: %}
				<form id="menu-login" action="/login" method="post">
					<fieldset>
						<div class="form-row">
							<label for="login_uname">Username</label>
							<input type="text" name="u" id="login_uname" required/>
						</div>
						<div class="form-row">
							<label for="login_pw">Password</label>
							<input type="password" name="p" id="login_pw" required/>
						</div>
						<button>Login</button>
					</fieldset>
				</form>
				{% endif; %}
				{% endif; %}
			</header>
			<hr>
			<div id="content-container">
				<main>
					{% if (!empty($messages)): %}
						<div class="visually-hidden"><h2>Notifications</h2></div>
						<ul class="notifications">
						{% foreach ($messages as $message): %}
							<li class="notification-{{{ $message[0] }}}">{{{ $message[1] }}}</li>
						{% endforeach; %}
						</ul>
					{% endif; %}
					{% yield mainContent %}
				</main>
				<hr>
				<div id="nav-sidebar">
					<section class="boxing">
						<header>
							<h2>Search</h2>
						</header>
						<form action="/search" id="search-form">
							<fieldset>
								<label for="search_q">Find</label>
								<input type="text" name="q" id="search_q"/>
								<button>Search</button>
							</fieldset>
						</form>
					</section>

					<section class="boxing">
						<header>
							<h2>Submissions</h2>
						</header>
						<ul>
							<li>Latest</li>
							<li>All</li>
						</ul>
					</section>

					<section class="boxing">
						<header>
							<h2>Miscellaneous</h2>
						</header>
						<ul>
							<li>Change log</li>
							<li>88x31 buttons</li>
						</ul>
					</section>

					<section class="boxing">
						<header>
							<h2>Community</h2>
						</header>
						<ul>
							<li><a href="/users">User list</a></li>
						</ul>
					</section>
				</div>
				<hr>
				<div id="featured-sidebar">
					<section class="boxing">
						<header>
							<h2>The Fun Stuff!</h2>
						</header>
						{% yield siteUpdates %}
					</section>

					<section class="boxing">
						<header>
							<h2>Partners</h2>
						</header>
						<ul>
							<li>A</li>
							<li>B</li>
						</ul>
					</section>

					<section class="boxing">
						<header>
							<h2>Featured Submission</h2>
						</header>
						{% yield subOfTheWeek %}
					</section>

					<section class="boxing">
						<header>
							<h2>Appreciation Station</h2>
						</header>
						{% yield kindWords %}
					</section>
				</div>
			</div>

			<footer>
				<hr>
				<span>&copy; ZoomTen 2021-2022.</span>
				<br>
				<span><a href="https://github.com/ZoomTen/Sketchspace">View the source code here</a></span>
			</footer>
		</div>
		{% yield modalDialogs %}
		{% yield additionalScripts %}
	</body>
</html>
