{% extends Views/_layout.html %}

{% block title %}Sketchspace{% endblock %}

{% block mainContent %}
	<section class="boxing">
		<h2>Welcome to Sketchspace (ALPHA EDITION)</h2>
		<p>
			Where 20-year-old design lives again today... begrudgingly.
			The BitView to <a href="https://github.com/ZoomTen/sheepyart">SheepyArt's</a> VidLii (lol)
		</p>
		<p>
			Ironically enough, this website shouldn't even look acceptable on older browsers.
			It's all "modern" on the inside.
		</p>
	</section>

	<section class="boxing">
		<h2>DEV//TODO</h2>
		<ul>
			<li>Profile editing</li>
			<li>Submission viewing, uploading, editing</li>
			<li>Link to all of the user's submissions</li>
			<li>Rubrics could use database...</li>
		</ul>
	</section>
{% endblock %}
