{% extends Views/_layout.html %}

{% block title %}Sketchspace{% endblock %}

{% block mainContent %}
{% $name = $submission->getSubject() %}
{% $date = $submission->getAddedTimestamp()->format(SKETCHSPACE_DATETIME_FMT) %}
{% $desc = $submission->getDescription() %}
{% $user = $submission->getAssociatedUser() %}
{% $subc = $submission->getSubcategory() %}
{% $catg = $subc->isChildOf() %}
<section class="boxing" id="submission">
    <header>
        <h2>{{{ $name }}}</h2>
        <time datetime="2000-01-01">{{{ $date }}}</time>
    </header>

    <div id="submission-info">
        <img loading="lazy" id="submission-image" src="{{{ $submission->getFilename() }}}">
        <div id="submission-description">
            <h3>Description</h3>
            <p>{{{ $desc }}}</p>
        </div>
        <div id="submission-stats">
            <h3>Details</h3>
            <ul>
                <li><span>Author:</span> <a href="/user/{{{ $user->getUsername() }}}">{{{ $user->getUsername() }}}</a></li>
                <li><span>Category:</span> <a href="/submissions/category/{{{ $catg->getId() }}}">{{{ $catg->name }}}</a></li>
                <li><span>Section:</span> <a href="/submissions/section/{{{ $subc->getId() }}}">{{{ $subc->name }}}</a></li>
                <li><span>Views:</span>
                    <ul>
                        <li><span>Overall:</span> 999999</li>
                        <li><span>Today:</span> 2</li>
                    </ul>
                </li>
                <li><span>Downloads:</span>
                    <ul>
                        <li><span>Overall:</span> 999999</li>
                        <li><span>Today:</span> 2</li>
                    </ul>
                </li>
                <li><span>Comments:</span> 0</li>
            </ul>
        </div>
    </div>
    <hr>
    <footer>
        <ul id="submission-actions">
          <li><a href="#">Download Submission</a></li>
          <li><a href="#">Full View</a></li>
        </ul>
    </footer>

</section>

<h2 class="header-alone">Comments</h2>

<div class="boxing">
    Hello
</div>
{% endblock %}
